@model WebApplication4.Models.Teacher
@{
    ViewBag.Title = "EditTeacher";
}

<h2>EditTeacher</h2>
<br />
<form method="post" action="/Home/EditTeacher">
    <div class="form-group row">
        <label for="inputTId" class="col-sm-2">老師編號</label>
        <div class="col-sm-10">
            <input type="text" id="inputTId" name="TId" class="form-control" value="@Model.TId"  />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputTName" class="col-sm-2">老師姓名</label>
        <div class="col-sm-10">
            <input type="text" id="inputTName" name="Tname" class="form-control" value="@Model.Tname" />
        </div>
    </div>
    <input class="btn btn-default" type="submit" value="儲存" />

</form>
